{{#if chakraUI}}{{#if chakraUI.answers.enabled}}
<Chakra{{chakraUI.answers.componentName}} {{#each reactJS.answers.propList}}{{this}}={ {{this}} } {{/each}}{{#if
  css.answers.cssModuleSupport}}className={styles.{{general.answers.componentName}} }{{/if}}>
{{#if reactJS.answers.propList }}
  {{#with reactJS.answers.propList.[0]}}{ {{this}} }{{/with}}
{{else}}
  <p>{ text }</p>
{{/if}}
</Chakra{{chakraUI.answers.componentName}}>
{{/if}}{{/if}}
