{{#if materialUI}}{{#if materialUI.answers.enabled}}
<Material{{materialUI.answers.componentName}} {{#each reactJS.answers.propList}}{{this}}={ {{this}} } {{/each}}{{#if
  css.answers.cssModuleSupport}}className={styles.{{general.answers.componentName}} }{{/if}}>
{{#if reactJS.answers.propList }}
  {{#with reactJS.answers.propList.[0]}}{ {{this}} }{{/with}}
{{else}}
  <p>{ text }</p>
{{/if}}
</Material{{materialUI.answers.componentName}}>
{{/if}}{{/if}}
